<% layout('user/userLayout') -%>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
            <div class="m-grid__item m-body__nav">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- begin::Horizontal Menu -->
                    <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                            <i class="la la-close"></i>
                        </button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                            <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                <li class="m-menu__item " aria-haspopup="true">
                                    <a href="dashboard" class="m-menu__link ">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("DASHBOARD") %>
                                        </span>
                                    </a>
                                </li>
                                <!-- <li class="m-menu__item" aria-haspopup="true">
                                    <a href="leads" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("LEADS")%>
                                        </span>
                                    </a>
                                </li> -->
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="transactions" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("TRANSACTIONS") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>
                                <li class="m-menu__item m-menu__item--active" aria-haspopup="true">
                                    <a href="referral_links" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("REFERRAL_LINKS") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="referral_traffic" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("REFERRAL_TRAFFIC") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="payouts" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("PAYOUTS") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- end::Horizontal Menu -->
                </div>
            </div>
            <!--============================== insert submenu code here================-->

            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <!-- BEGIN: Subheader -->
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">

                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <!-- END: Subheader -->
                    <div class="m-content">
                        <!--Begin::Section-->
                        <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <%= i18n.__("GENERATE_TEXT_LINKS") %>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="form-horizontal">

                                    <div class="form-group m-form__group row">
                                        <label class="col-3 col-form-label" for="textinput">
                                            <%= i18n.__("REFERRAL_LINK") %>
                                        </label>

                                        <div class="col-9">
                                            <input id="textinput" type="text" value="<%= 'http://localhost:3009/user/signup/'+ user.referal_code%>" class="form-control m-input">
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group m-form__group row">
                                        <label class="col-3 col-form-label" for="textinput">&nbsp;</label>
                                        <div class="col-9">
                                            <button class="btn m-btn m-btn--gradient-from-warning m-btn--gradient-to-danger" onclick="myFunction()">
                                                <i class="fa fa-flash"></i>
                                                <%= i18n.__("GENERATE_REF_LINK") %>
                                            </button>
                                            <span id="linkMessage" style="color:blue;"></span>
                                        </div>

                                    </div>
                                </div>
                                <script>
                                    function myFunction() {
                                    var copyText = document.getElementById("textinput");
                                    copyText.select();
                                    document.execCommand("copy");
                                    // alert("Copied the text: " + copyText.value);
                                    document.getElementById('linkMessage').innerText = "Link Copied!";

                                    setTimeout(function(){
                                        document.getElementById('linkMessage').innerText = "";

                                    },3000)
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>