<% layout('user/userLayout') -%>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
            <div class="m-grid__item m-body__nav">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- begin::Horizontal Menu -->
                    <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                            <i class="la la-close"></i>
                        </button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                            <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="dashboard" class="m-menu__link ">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("DASHBOARD") %>
                                        </span>
                                    </a>
                                </li>
                                <!-- <li class="m-menu__item" aria-haspopup="true">
                                    <a href="leads" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("LEADS")%>
                                        </span>
                                    </a>
                                </li> -->
                                <li class="m-menu__item m-menu__item--active" aria-haspopup="true">
                                    <a href="transactions" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("TRANSACTIONS") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="referral_links" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("REFERRAL_LINKS") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="referral_traffic" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("REFERRAL_TRAFFIC") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>
                                <li class="m-menu__item" aria-haspopup="true">
                                    <a href="payouts" class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                        <span class="m-menu__link-text">
                                            <%= i18n.__("PAYOUTS") %>
                                        </span>
                                        <!-- <i class="m-menu__hor-arrow la la-angle-down"></i>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i> -->
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- end::Horizontal Menu -->
                </div>
            </div>
            <!--============================== insert submenu code here================-->
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                <!-- BEGIN: Left Aside -->
                <!-- END: Left Aside -->
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <!-- BEGIN: Subheader -->
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <!--<h3 class="m-subheader__title m-subheader__title&#45;&#45;separator">-->
                                <!--Dashboard-->
                                <!--</h3>-->
                                <!--<ul class="m-subheader__breadcrumbs m-nav m-nav&#45;&#45;inline">-->
                                <!--<li class="m-nav__item m-nav__item&#45;&#45;home">-->
                                <!--<a href="#" class="m-nav__link m-nav__link&#45;&#45;icon">-->
                                <!--<i class="m-nav__link-icon la la-home"></i>-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--<li class="m-nav__separator">-->
                                <!-- - -->
                                <!--</li>-->
                                <!--<li class="m-nav__item">-->
                                <!--<a href="" class="m-nav__link">-->
                                <!--<span class="m-nav__link-text">-->
                                <!--Sales & Profits-->
                                <!--</span>-->
                                <!--</a>-->
                                <!--</li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                    </div>
                    <!-- END: Subheader -->
                    <!-- load sales stat boxes -->
                    <div class="m-portlet ">
                        <div class="m-portlet__body  m-portlet__body--no-padding">
                            <div class="row m-row--no-padding m-row--col-separator-xl">
                                <div class="col-md-12 col-lg-6 col-xl-6">
                                    <!--begin::Total Profit-->
                                    <div class="m-widget24">
                                        <div class="m-widget24__item">
                                                <div class="row m-row--no-padding">
                                                    <div class="col-md-4 col-sm-4 col-xl-4 col">
                                                        <div class="apro_user" align="center">
                                                            <img src="/assets/img/dollar3.svg" alt="" class="img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xl-8 col">
                                                        <div class="apro_text">
                                                            <h2>
                                                                <!-- <?php total_sales_period($start_date, $end_date);?> -->
                                                                $ 0.00
                                                            </h2>
                                                            <h4>
                                                                <%= i18n.__("TOTAL_SALES") %>
                                                                    <span class="small-text">(
                                                                        <%= i18n.__("SELECTED_PERIOD") %>)</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                        </div>
                                    </div>
                                    <!--end::Total Profit-->
                                </div>
                                <div class="col-md-12 col-lg-6 col-xl-6">
                                    <!--begin::New Feedbacks-->
                                    <div class="m-widget24">
                                        <div class="m-widget24__item">
                                                <div class="row m-row--no-padding">
                                                    <div class="col-md-4 col-sm-4 col-xl-4 col">
                                                        <div class="apro_user" align="center">
                                                            <img src="/assets/img/dollar-r.svg" alt="" class="img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xl-8 col">
                                                        <div class="apro_text">
                                                            <h2>
                                                                <!-- <?php affiliate_earnings_period($start_date, $end_date);?> -->
                                                                $ 0.00
                                                            </h2>
                                                            <h4>
                                                                <%= i18n.__("AFFILIATE_LEAD_EARNINGS") %>
                                                                    <span class="small-text">(
                                                                        <%= i18n.__("SELECTED_PERIOD") %>)</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                        </div>
                                    </div>
                                    <!--end::New Feedbacks-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet">
                        <div class="m-portlet__body  m-portlet__body--no-padding">
                            <div class="row m-row--no-padding m-row--col-separator-xl">
                                <div class="col-xl-12">
                                    <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        <%= i18n.__("SALES_AND_PROFITS") %>
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="m-portlet__body">
                                            <!--begin: Search Form -->

                                            <!--end: Search Form -->
                                            <!--begin: Datatable -->
                                            <div id="status"></div>
                                            <table id="sales" class="display" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <%= i18n.__("AFFILIATE") %>
                                                        </th>
                                                        <th>
                                                            <%= i18n.__("PRODUCT") %>
                                                        </th>
                                                        <th>
                                                            <%= i18n.__("SALE_AMOUNT") %>
                                                        </th>
                                                        <th>
                                                            <%= i18n.__("COMMISSION") %>
                                                        </th>
                                                        <th>
                                                            <%= i18n.__("NET_EARNINGS") %>
                                                        </th>
                                                        <!-- <?php $rc_on = rc_on(); if($rc_on=='1'){ echo '<th>'.<%= i18n.__("RECURRING") %>.'</th>';}?> -->
                                                        <th>
                                                            <%= i18n.__("DATETIME") %>
                                                        </th>
                                                        <th>
                                                            <%= i18n.__("ACTION") %>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php sales_table($start_date, $end_date); ?>
                                                </tbody>
                                            </table>
                                            <!--end: Datatable -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table2 -->
                </div>
            </div>
        </div>
    </div>
    </div>